/*
* CSS over rides for the governance and growth project
* 
* Project hosted at:
* http://www.russellshepherd.com/projects/govgrowth/index.html
*
* Copyright 2012 Russell Shepherd
*/

/* Main Menu
================================================== */

div#mainmenu ol {
	margin-left: 20px;
}

div#mainmenu li {
    margin-left: 0px;
}

div#mainmenu a, div#mainmenu a:active, div#mainmenu a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #666666;
}

div#mainmenu a:hover{
	color: #000000;
}


/* Footer
================================================== */

div#footer {
	font-size: .9em;
}

div#footer h5 {
	font-size: 1.3em;
}

