{% extends "base.html" %}
{% block content %}

<h3>Introduction</h3>
<p>In Why Nations Fail (2012), authors Acemoglu and Robinson observe that institutional inclusiveness is a underlying
determinant of economic growth. Their hypothesis is built on an array of historical and economic studies and told through
a series of case-study like narratives which highlight the many channels through which institutional inclusiveness affects 
economic outcomes. This study provides one approach to quantitatively evaluate A&R's position.
</p>
<p>Recent work in growth theory developed a rich theoretical literature describing the economic role of governing institutions, and a set of accompanying empirical methods. The former outlines the channels through which institutional characteristics of a national government, such as the legal and policy environments, influence economic outcomes. The later focuses on methods for estimating growth equations based on observations that are both cross-sectional and time-series.</p>

<p>Both fixed-effects and random-effects estimation methods are applied to a panel of 154 countries across a fifty year period. Independent
variables examined include institutional inclusiveness and trade openness. Models were fit to both level data and first differences. There is limited evidence for a statistically significant and
positive relationship between political inclusiveness and economic growth (n = 154, p = 0.014, \(\beta\) = 0.0004) in one of three models examined.
<h4>A note on presentation</h4>
<p>This study is structured similarly to an orthodox academic paper, but with the addition of available source code provided inline. Any time I've used some code to process data or perform a calculation, you have the option to view the source by clicking the "[+/- code]" button.
Additional, the analyses are reproducible and all the accompany source files needed to recreate this website can be found here.
</p>

{% endblock %}